<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.incubasys.incubasystest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activity.CompanyListActivity"
            android:label="@string/companies"
            android:theme="@style/CompanyActivity" />
        <activity
            android:name=".activity.CompanyDetailsActivity"
            android:theme="@style/CompanyDetails" />

       <meta-data
            android:name="io.fabric.ApiKey"
            android:value="45626f711615a88cfb4916943cab2c3a0e9c100c" />
         <meta-data
            android:name="io.fabric.ApiKey"
            android:value="45626f711615a88cfb4916943cab2c3a0e9c100c" />
    </application>

</manifest>